/* Reset some default browser styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
}

header {
    background-image: url('./pic/banner.jpg');
    color: white;
    text-align: center;
    padding: 1rem;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #444;
    padding: 0.5rem 0;
    
}

nav li {
    margin: 0 1rem;
}

nav a {
    text-decoration: none;
    color: white;
}

main {
    padding: 2rem;
}

section {
    border: 1px solid #ddd;
    padding: 1rem;
    margin: 100px;

}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #444;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.About {

    display: flex;
    text-align: center;
    justify-content: center;
}

.title {

    font-family: 'Alex Brush';
    font-size: 80px;
}


.margin {

    margin: auto;
}

.grid-container {

    display: grid;
    grid-template-columns: 1 3;
    padding: 10px;

}

.grid-item {

    padding: 20px;
    text-align: left;
    margin: auto;

}

.center {

    display: flex;
    justify-content: center;
    padding: 20px;
}

h1 {

    display: flex;
    justify-content: center;
    padding: 20px;
}
